[user]
  email = kovey.1@osu.edu
  name = Chris Kovey
[core]
	autocrlf = false
  fileMode = false
  editor = nano
  excludesfile = /home/chris/.gitignore_global
  safecrlf = false
[color]
  branch = auto
  diff = auto
  status = auto
	ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
added = green
changed = yellow bold
untracked = red bold
[alias]
  undo = reset --soft HEAD^

  # show a list of local git branches sorted by the commit date
  branches = "for-each-ref --sort=-committerdate refs/heads --format='%(authordate:short) %(color:yellow)%(objectname:short) %(color:green)%(refname:short)%(color:reset) (%(color:cyan)%(committerdate:relative)%(color:reset)) %(authorname)'"

  # show a list of local and remote git branches sorted by the commit date
  branches-remote = "for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(authordate:short) %(color:yellow)%(objectname:short) %(color:green)%(refname:short)%(color:reset) (%(color:cyan)%(committerdate:relative)%(color:reset)) %(authorname)'"

  # tidy git log
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
